<div class="card mx-4">
    <div class="card-header">
        <h5 class="card-title mb-0"> {{ 'PAGES.VISIT_FORM.LABELS.STRENGTHS_AND_IMPROVEMENT_ANALYSIS'| translate }}</h5>
    </div>
    <div class="m-4">
        <h6 class="mb-0 text-danger">{{'PAGES.VISIT_FORM.LABELS.EVALUATIVE_TERMS_LIST' | translate}}
        </h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">
                    {{ 'PAGES.VISIT_FORM.LABELS.POSITIVE_ASPECTS_OR_STRENGTHS'| translate }}
                    <span class="text-danger">*</span>
                </label>
                <app-custom-ckeditor name="editorAr" [disabled]="!editable"
                          [(ngModel)]="visitFormRequestInfo.strengthsAnalysis">
                </app-custom-ckeditor>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">
                    {{ 'PAGES.VISIT_FORM.LABELS.AREAS_FOR_IMPROVEMENT'| translate }}
                    <span class="text-danger">*</span>
                </label>
                <app-custom-ckeditor name="editorAr" [disabled]="!editable"
                    [(ngModel)]="visitFormRequestInfo.improvementsAnalysis">
                </app-custom-ckeditor>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm my-5">
    <div class="row">
        <div class="col m-4">
            <label class="form-label">
                {{ 'PAGES.COMMON.LABELS.NOTES'| translate }}
            </label>
            <textarea class="form-control" name="editorAr" [disabled]="!editable" [(ngModel)]="visitFormRequestInfo.notes" rows="5">
            </textarea>
        </div>
    </div>
    <app-common-attachments [attachmentList]="visitFormRequestInfo.visitFormAttachments || []" (attachmentAddEventEmitter)="addAttchment($event)"
    [isEditMode]="editable" [showResponsibleData] = "false"     
    (attachmentRemoveEventEmitter)="removeAttchment($event)">
    </app-common-attachments>
</div>

<div *ngIf="showButtons" class="pt-2 mx-3 d-flex justify-content-between">

  <div class="d-flex justify-content-start rounded">
    <button type="button" class="step-prev btn btn-primary" (click)="previousEvent.emit()">
      {{ 'PAGES.COMMON.LABELS.PREVIOUS' | translate }}
    </button>

    <button type="button" class="btn btn-outline-secondary me-2 ms-2" (click)="cancelEvent.emit()">
      {{ "PAGES.COMMON.LABELS.CANCEL" | translate }}
    </button>
  </div>


  <div class="d-flex justify-content-end rounded">
    <button type="button" class="btn btn-success fw-bold me-2 ms-2" (click)="save()">
      {{ "PAGES.COMMON.LABELS.SAVE" | translate }}
    </button>
    <button type="button" class="step-next btn btn-primary me-2 ms-2" (click)="validateForm('SUBMIT')">
      {{ 'PAGES.COMMON.LABELS.SUBMIT' | translate }}
    </button>
  </div>

</div>