<app-qualafications-and-skills
[languageList]="languageList"
[higherEducationList]="higherEducationList"
[institutionList]="institutionList"
[broadFieldList]="broadFieldList"
[generalSpecializationList]="generalSpecializationList"
[cseqaGeneralSpecializationList]="cseqaGeneralSpecializationList"
[cseqaSpecificSpecializationList]="cseqaSpecificSpecializationList"
[externalReviewersRegistrationRequestInfo]="externalReviewersRegistrationRequestInfo"
[expertiseYearList]="expertiseYearList"
[showButtons]="false"
[isEditMode]="isEditMode"
></app-qualafications-and-skills>