<app-qualafications-and-skills
[languageList]="languageList"
[higherEducationList]="higherEducationList"
[institutionList]="institutionList"
[broadFieldList]="broadFieldList"
[generalSpecializationList]="generalSpecializationList"
[cseqaGeneralSpecializationList]="cseqaGeneralSpecializationList"
[cseqaSpecificSpecializationList]="cseqaSpecificSpecializationList"
[isEditMode]="true"
[externalReviewersRegistrationRequestInfo]="externalReviewersRegistrationRequestInfo"
[expertiseYearList]="expertiseYearList"
(nextEvent)="next()" (previousEvent)="previous()"
(cancelEvent)="cancel()"
></app-qualafications-and-skills>