<app-cseqa-counts-ratios-card ></app-cseqa-counts-ratios-card>
<app-cseqa-status-distribution-card ></app-cseqa-status-distribution-card>
<app-cseqa-year-comparison-card ></app-cseqa-year-comparison-card>
<app-cseqa-specialization-card ></app-cseqa-specialization-card>
<app-cseqa-country-distribution-card ></app-cseqa-country-distribution-card>
<app-cseqa-nationality-distribution-card ></app-cseqa-nationality-distribution-card>
<app-cseqa-heatmap-card></app-cseqa-heatmap-card>
<app-cseqa-activities-card ></app-cseqa-activities-card>
<app-cseqa-join-requests-card ></app-cseqa-join-requests-card>
<app-cseqa-withdrawal-requests-card ></app-cseqa-withdrawal-requests-card>
<app-cseqa-evaluation-by-team-leader-card ></app-cseqa-evaluation-by-team-leader-card>
<app-cseqa-evaluation-by-qa-card ></app-cseqa-evaluation-by-qa-card>
