<strengths-improvement-analysis
        *ngIf="visitFormRequestInfo.type =='CLASSROOM_OBSERVATION'"
        [visitFormRequestInfo]="visitFormRequestInfo"
        (cancelEvent)="cancelBtn(visitFormRequestInfo.type)"
        (previousEvent)="previous()">
</strengths-improvement-analysis>

<details-and-summary
        *ngIf="visitFormRequestInfo.type == 'GENERAL_EVIDENCE'"
        [visitFormRequestInfo]="visitFormRequestInfo"
        (cancelEvent)="cancelBtn(visitFormRequestInfo.type)"
        (nextEvent)="next()"
        (previousEvent)="previous()">
</details-and-summary>
