<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{ 'PAGES.DASHBOARD.CHEQA.LABELS.CARD_STATUS_DISTRIBUTION' | translate }}</h5>
  </div>
  <div class="card-body">
    <oaaaqa-ag-grid [dataList]="tableData" [columns]="columns" [showRowNumbers]="false"
      [enableColumnFilters]="false" [sizeColumnsToFit]="true" [pagination]="false">
    </oaaaqa-ag-grid>
    <app-stacked-bar-chart [series]="series" [categories]="categories" [dataLabelsEnabled]="true"
      [colors]="chartColors">
    </app-stacked-bar-chart>
  </div>
</div>
