<page-title [title]="'MENUITEMS.MENU.SUBMIT_TEAM_LEADER_PLAN' | translate"
            [breadcrumbItems]="[{ label: 'MENUITEMS.MENU.SUBMIT_TEAM_LEADER_PLAN' | translate, active: true }]"></page-title>


<team-leader-plan-actions *ngIf="requestObject && taskId" (actionEventEmitter)="submit($event)"
                          [taskId]="taskId"
                          (validationEventEmitter)="isSubmitted = $event"
                          [requestObject]="requestObject"></team-leader-plan-actions>

<request-main-data *ngIf="requestObject" [mainRequestData]="mainRequestData "></request-main-data>

<request-user-details *ngIf="requestObject" [applicantData]="requestObject.applicantUser"></request-user-details>

<!-- tabs -->
<app-tabs *ngIf="requestObject && showTabs" [tabs]="tabs"></app-tabs>

<div *hasPermission="[Permission.VISIT_PLAN_CREATE,Permission.VISIT_PLAN_REVIEW]">
    <follow-up-request 
        *ngIf="requestObject"
            [requestHistoryList]="requestObject.requestHistoryList"></follow-up-request>
</div>

<team-leader-plan-actions *ngIf="requestObject && taskId" (actionEventEmitter)="submit($event)"
                          [taskId]="taskId"
                          (validationEventEmitter)="isSubmitted = $event"
                          [requestObject]="requestObject"></team-leader-plan-actions>

<div *ngIf="requestObject && !taskId" class="card shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex justify-content-end flex-wrap gap-2">
                <button class="btn btn-primary fw-bold"
                        *ngIf="requestObject.canUpdate" (click)="updateVisitPlanRequest()">
                    {{ 'PAGES.COMMON.LABELS.SAVE' | translate }}
                </button>

                <button class="btn btn-outline-secondary"
                        [routerLink]="'/jawda/school-performance/team-leader-plan/list'">
                    {{ 'PAGES.COMMON.LABELS.CANCEL' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>