.modal-backdrop {
  transition: opacity 0.15s linear;
  z-index: 1040 !important;
}
.modal {
  z-index: 1050 !important;
}

.modal-backdrop {
  transition: opacity 0.15s linear;
  z-index: 1040 !important;
}
.modal {
  z-index: 1050 !important;
}