<div class="row me-3">
    <div class="col-xxl-4 col-lg-4 col-12">
        <div class="card card-body text-center">
            <div class="avatar-sm mx-auto mb-3">
                <div class="avatar-title text-primary fs-1 rounded-0 bg-transparent">
                    <i class="ri-book-open-line"></i>
                </div>
            </div>
            <h4 class="card-title">Add New Application</h4>
            <p class="card-text text-muted">Send a link to apply on mobile device. Appropriately communicate
                one-to-one technology.</p>
            <a href="javascript:void(0);" class="btn btn-success">Add New</a>
        </div>
    </div><!-- end col -->

    <div class="col-xxl-4 col-lg-4 col-12">
        <div class="card card-body text-center">
            <div class="avatar-sm mx-auto mb-3">
                 <div class="avatar-title text-primary fs-1 rounded-0 bg-transparent">
                    <i class="ri-book-open-line"></i>
                </div>
            </div>
            <h4 class="card-title">Add New Application</h4>
            <p class="card-text text-muted">Send a link to apply on mobile device. Appropriately communicate
                one-to-one technology.</p>
            <a href="javascript:void(0);" class="btn btn-success">Add New</a>
        </div>
    </div><!-- end col -->


    <div class="col-xxl-4 col-lg-4 col-12">
        <div class="card card-body text-center">
            <div class="avatar-sm mx-auto mb-3">
                 <div class="avatar-title text-primary fs-1 rounded-0 bg-transparent">
                    <i class=" ri-checkbox-circle-line"></i>
                </div>
            </div>
            <h4 class="card-title">Add New Application</h4>
            <p class="card-text text-muted">Send a link to apply on mobile device. Appropriately communicate
                one-to-one technology.</p>
            <a href="javascript:void(0);" class="btn btn-success">Add New</a>
        </div>
    </div><!-- end col -->

</div>