<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<page-title [title]="pageTitle"
[breadcrumbItems]="[{ label: pageTitle,  active: true }]"></page-title>

<div class="card shadow-sm">
    <div class="card-header align-items-center justify-content-between d-flex">
        <h5 class="card-title mb-0">{{ cartTitle }}
            <span class="badge rounded-pill bg-success fs-13 ms-4" *ngIf="isPublished">
                {{ 'PAGES.EXTERNAL_REVIEWERS_ACCEPTANCE_CRITERIA_MANAGEMENT.LABELS.PUBLISHED'| translate }}
            </span>

            <span class="badge rounded-pill bg-danger fs-13 ms-4" *ngIf="!isPublished">
                {{ 'PAGES.EXTERNAL_REVIEWERS_ACCEPTANCE_CRITERIA_MANAGEMENT.LABELS.NOT_PUBLISHED'| translate }}
            </span>
        </h5>
        <div class="d-flex" *ngIf="isEditMode">
            <button type="button" class="btn btn-outline-secondary ms-3" (click)="previous()">
                {{ 'PAGES.COMMON.LABELS.PREVIOUS'| translate }}
            </button>
                <button (click)="changeDraggableState()" class="btn btn-outline-primary ms-3" *ngIf="!draggable">
                    <i class="ri-edit-line align-bottom me-1"></i> {{ 'PAGES.COMMON.LABELS.CHANGE_ORDER' | translate }}
                </button>
                <div class="d-flex" *ngIf="draggable">
                    <button (click)="saveNewOrder()" class="btn btn-outline-primary ms-3">
                        <i class="ri-save-line align-bottom me-1"></i> {{ 'PAGES.COMMON.LABELS.SAVE' | translate }}
                    </button>
                    <button (click)="cancelNewOrder()" class="btn btn-outline-primary ms-3">
                        <i class="ri-close-line align-bottom me-1"></i> {{ 'PAGES.COMMON.LABELS.CANCEL' | translate }}
                    </button>
                </div>
            <button type="button" class="btn btn-primary ms-3" (click)="publish()" *ngIf="isEditMode"
                    [disabled]="isPublished">
                {{ 'PAGES.EXTERNAL_REVIEWERS_ACCEPTANCE_CRITERIA_MANAGEMENT.LABELS.PUBLISH'| translate }}
            </button>
            <button class="btn btn-primary ms-3">
                <app-acceptance-criteria-audit-modal
                    [criterionId]="criterionId"
                    [module]="module">
                </app-acceptance-criteria-audit-modal>
            </button>
            
            <button (click)="openSubCriteriaDetails(null)" class="btn btn-primary ms-3">
                <i class="ri-add-line align-bottom me-1"></i>
                {{ 'PAGES.COMMON.LABELS.ADD' | translate }}
            </button>

            
        </div>

    </div>
    <div class="card-body">
        <div class="live-preview">
            <div class="row gy-4">
                <div class="col-12">
                    <div class="row g-3 mb-3" >
                        <div class="col-md-12 text-end">
                            
                        </div>
                    </div>

                    <div class="row g-3">
                        <oaaaqa-ag-grid 
                            [enableDrage]="draggable" 
                            [columns]="columns" 
                            [actions]="actions"
                            [dataList]="subCriteriaList"
                            (rowsOrderChanged)="receiveNewOrder($event)"></oaaaqa-ag-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="showItems">
    <app-external-reviewers-acceptance-item-criteria-list
            [isEditMode]="isEditMode"
            [module]="module"
            [items]="selectedItems"
            [criterionId]="criterionId"
            [subCriteriaId]="selectedSubCriteriaId"
            [cartTitle]="selectedItemsCartTitle"
            (hideItemComponentEvent)="hideItemComponent()">
    </app-external-reviewers-acceptance-item-criteria-list>
</div>