<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<page-title [title]="'MENUITEMS.MENU.SCHOOL_CONFLICTS' | translate"
    [breadcrumbItems]="[{ label: 'MENUITEMS.MENU.SCHOOL_CONFLICTS' | translate }]"></page-title>

<div class="card">
    <div class="card-header align-items-center justify-content-between d-flex">
        <h5 class="card-title mb-0">{{ "PAGES.SCHOOL_PERFORMANCE.SCHOOL_CONFLICTS.TITLE" | translate }}</h5>

        <button class="btn btn-primary ms-3" (click)="openHistoryModal()">
            <i class="ri-history-line fs-5 cursor-pointer"></i>
        </button>

    </div>
    <div class="card-body">
        <oaaaqa-ag-grid 
            [dataList]="rowData"
            [columns]="columnDefs" ></oaaaqa-ag-grid>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary px-4" (click)="updateSchoolConflicts()" [disabled]="!hasChanges">{{ "PAGES.COMMON.LABELS.SAVE" | translate }}</button>
        </div>
    </div>
</div>