
.upload-btn {
  width: 100%;
  border: none;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  color: #1a202c;
}

.delete-btn {
  background-color: #f56565;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}


