.auth-pass-inputgroup {
  position: relative;
  
  .password-addon {
    padding: 0.5rem;
    z-index: 10;
    
    i {
      font-size: 1rem;
    }
  }
}

.card {
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

.form-control.is-invalid {
  background-image: none !important;
  padding-right: 0.75rem;
}
