<app-personal-info
        [showButtons]="false"
        [countryList]="countryList"
        [prefixList]="prefixList"
        [genderList]="genderList"
        [user]="user"
        [governorateList]="governorateList"
        [organizationList]="organizationList"
        [noObjectionCertificateEnable]="noObjectionCertificateEnable"
        [noObjectionCertificateVisible]="noObjectionCertificateVisible"
        [externalReviewersRegistrationRequestInfo]="externalReviewersRegistrationRequestInfo"
></app-personal-info>
