<div class="card mx-4">
    <div class="card-header">
        <h5 class="card-title mb-0">{{'PAGES.CREATE_ACCOUNT.LABELS.OTP' | translate }}</h5>
    </div>
    <div *ngIf="isNewEmail && registrationInitiationResponse.resendOtpTimerInSeconds" class="card-body" (keydown)="onKeyDown($event)">
        <div class="col-xl-12 p-0">
            <div class="p-2 py-3">
                <h5 class="text-primary mt-5 text-center">{{ "PAGES.CREATE_ACCOUNT.MESSAGES.OTP_MESSAGE" | translate }}
                </h5>
                <div [dir]="direction" class="text-center py-3">
                    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                </div>
                <div class="text-center mt-4">
                    <button [disabled]="otpCode.length !== config.length" class="btn btn-secondary"
                        (click)="verifyOtp()">{{ "PAGES.OTP.LABELS.VERIFY_OTP" | translate }}</button>
                </div>

                <div class="mt-3 text-center">
                    <p>{{ "PAGES.OTP.LABELS.REQUEST_OTP_AFTER" | translate }} {{ otpTimer }} {{ "PAGES.OTP.LABELS.SECONDS" | translate }}</p>
                </div>
            </div>

            <div class="text-center">
                <p class="mb-0">{{ "PAGES.OTP.LABELS.DIDN`T_RECEIVE" | translate }}
                    <button (click)="resendOtp()" [disabled]="otpTimer > 0"
                        class="fw-semibold text-primary text-decoration-underline cursor-pointer no-style-button">
                        {{
                        "PAGES.OTP.LABELS.RESENT_OTP" | translate }}
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="!isNewEmail" class="card-body my-3">
        <div class="row">
            <h6 class="d-flex justify-content-center">{{ "PAGES.CREATE_ACCOUNT.MESSAGES.EMAIL_ALREADY_EXIST" | translate}}</h6>
        </div>
        <div class="row mt-5">
            <div class="d-flex justify-content-center rounded">
                <button type="button" routerLink="/auth/login" class="btn btn-primary mx-2">
                    {{ "PAGES.CREATE_ACCOUNT.LABELS.LOGIN" | translate }}
                </button>

                <button class="step-next btn btn-primary me-2" routerLink="/auth/pass-reset/cover">
                    {{ "PAGES.CREATE_ACCOUNT.LABELS.RESET_PASSWORD" | translate }}
                </button>
            </div>
        </div>
    </div>

</div>

<div class="card mx-4">
    <div class="card-body">
        <div class="row">
            <div class="d-flex justify-content-between rounded">
                <button type="button" (click)="cancel()" class="btn btn-outline-secondary mx-2">
                    {{ "PAGES.COMMON.LABELS.CANCEL" | translate }}
                </button>

                <button class="step-next btn btn-primary me-2" (click)="previous()">
                    <i [ngClass]="translate.currentLang=='ar'? 'ri-arrow-right-line' : 'ri-arrow-left-line'"></i>
                    {{ "PAGES.COMMON.LABELS.PREVIOUS" | translate }}
                </button>

                <!-- <button type="button" (click)="next()" class="step-next btn btn-primary me-2">
                    {{ 'PAGES.COMMON.LABELS.NEXT' | translate }}
                    <i [ngClass]="translate.currentLang=='ar'? 'ri-arrow-left-line' : 'ri-arrow-right-line'"></i>
                </button> -->
            </div>
        </div>
    </div>
</div>