<app-oqf-counts-ratios-card *hasPermission="[Permission.OQF_REVIEWER_DASHBOARD_COUNTS_RATIOS]"></app-oqf-counts-ratios-card>
<app-oqf-status-distribution-card *hasPermission="[Permission.OQF_REVIEWER_DASHBOARD_DISTRIBUTION_BY_STATUS]"></app-oqf-status-distribution-card>
<app-oqf-year-comparison-card *hasPermission="[Permission.OQF_REVIEWER_DASHBOARD_YEAR_COMPARISON]"></app-oqf-year-comparison-card>
<app-oqf-specialization-card *hasPermission="[Permission.OQF_REVIEWER_DASHBOARD_DISTRIBUTION_BY_SPECIALIZATION]"></app-oqf-specialization-card>
<app-oqf-country-distribution-card *hasPermission="[Permission.OQF_REVIEWER_DASHBOARD_DISTRIBUTION_BY_COUNTRY]"></app-oqf-country-distribution-card>
<app-oqf-employer-distribution-card *hasPermission="[Permission.OQF_REVIEWER_DASHBOARD_DISTRIBUTION_BY_EMPLOYER]"></app-oqf-employer-distribution-card>
<app-oqf-activities-card *hasPermission="[Permission.OQF_REVIEWER_DASHBOARD_ACTIVITIES_PARTICIPATION]"></app-oqf-activities-card>
<app-oqf-join-requests-card *hasPermission="[Permission.OQF_REVIEWER_DASHBOARD_JOIN_REQUESTS_BY_STATUS]"></app-oqf-join-requests-card>
