<app-cheqa-counts-ratios-card *hasPermission="[Permission.CHEQA_REVIEWER_DASHBOARD_COUNTS_RATIOS]"></app-cheqa-counts-ratios-card>
<app-cheqa-status-distribution-card *hasPermission="[Permission.CHEQA_REVIEWER_DASHBOARD_DISTRIBUTION_BY_STATUS]"></app-cheqa-status-distribution-card>
<app-cheqa-year-comparison-card *hasPermission="[Permission.CHEQA_REVIEWER_DASHBOARD_YEAR_COMPARISON]"></app-cheqa-year-comparison-card>
<app-cheqa-specialization-card *hasPermission="[Permission.CHEQA_REVIEWER_DASHBOARD_DISTRIBUTION_BY_SPECIALIZATION]"></app-cheqa-specialization-card>
<app-cheqa-country-distribution-card *hasPermission="[Permission.CHEQA_REVIEWER_DASHBOARD_DISTRIBUTION_BY_COUNTRY]"></app-cheqa-country-distribution-card>
<app-cheqa-activities-card *hasPermission="[Permission.CHEQA_REVIEWER_DASHBOARD_ACTIVITIES_PARTICIPATION]"></app-cheqa-activities-card>
<app-cheqa-join-requests-card *hasPermission="[Permission.CHEQA_REVIEWER_DASHBOARD_JOIN_REQUESTS_BY_STATUS]"></app-cheqa-join-requests-card>
<app-cheqa-withdrawal-requests-card *hasPermission="[Permission.CHEQA_REVIEWER_DASHBOARD_WITHDRAWAL_REQUESTS_BY_STATUS]"></app-cheqa-withdrawal-requests-card>