<page-title [title]="'MENUITEMS.MENU.DOMAIN_SUMMARY' | translate"
            [breadcrumbItems]="[{ label: 'MENUITEMS.MENU.DOMAIN_SUMMARIES' | translate,
link: '/jawda/school-performance/domain-summary/list',
 active: true },
    { label: 'MENUITEMS.MENU.DOMAIN_SUMMARIES_MANAGEMENT' | translate,
link: '/jawda/school-performance/domain-summary/management/'+scheduledSchoolVisitId,
 active: true },
{ label: '' | translate,  active: false }]"></page-title>

<domain-judgment [domainSummaryRequestInfo]="domainSummarySubmissionRequestInfo"></domain-judgment>

<domain-summary-strengths-improvement-analysis
        [isSubmitted]="isSubmitted"
        [domainSummaryRequestInfo]="domainSummarySubmissionRequestInfo">
</domain-summary-strengths-improvement-analysis>

<div class="card shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="pt-2 mx-3 d-flex justify-content-between">
                <div class="d-flex justify-content-start rounded">
                    <button type="button" class="step-prev btn btn-primary"
                            [routerLink]="'/jawda/school-performance/domain-summary/management/'+scheduledSchoolVisitId">
                        {{ 'PAGES.COMMON.LABELS.PREVIOUS' | translate }}
                    </button>
                    <button type="button" class="btn btn-outline-secondary me-2 ms-2"
                            [routerLink]="'/jawda/school-performance/domain-summary/list'">
                        {{ "PAGES.COMMON.LABELS.CANCEL" | translate }}
                    </button>
                </div>

                <div class="d-flex justify-content-end rounded w-25 me-3">
                    <button type="button" class="step-next btn btn-primary ms-2 me-2" (click)="save('SAVE')">
                        {{ 'PAGES.COMMON.LABELS.SAVE' | translate }}
                    </button>

                    <button type="button" class="step-next btn btn-primary ms-2 me-2" (click)="validateForm('SUBMIT')">
                        {{ 'PAGES.COMMON.LABELS.SUBMIT' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>