<visit-details *ngIf="visitData" [visitData]="visitData"></visit-details>

<form-visit-details
        *ngIf="visitFormRequestInfo.type == 'CLASSROOM_OBSERVATION'" [visitFormRequestInfo]="visitFormRequestInfo"
        [grades]="grades" [periods]="periods" [visitData]="visitData"
        (cancelEvent)="cancelBtn(visitFormRequestInfo.type)" (nextEvent)="next()">
</form-visit-details>

<general-evidence-visit-details
        *ngIf="visitFormRequestInfo&& visitFormRequestInfo.type == 'GENERAL_EVIDENCE'"
        [visitFormRequestInfo]="visitFormRequestInfo" [activityTypes]="activityTypes"
        [visitData]="visitData" (cancelEvent)="cancelBtn(visitFormRequestInfo.type)"
        (nextEvent)="next()">
</general-evidence-visit-details>

