<div class="card shadow-sm">
  <div class="card-header">
    <h5 class="mb-0 text-start">{{title|translate}}</h5>
  </div>
  <div class="card-body">
    <div class="row text-center align-items-center mx-5">

      <div class="col-md-3 d-flex">
        <div class="image-col">
          <span class="h-100"> <i class="ri-file-list-line fs-1 text-primary"></i></span>
        </div>
        <div>
          <h4 class="text-muted fw-semibold fs-13 d-flex justify-content-start">
            {{'PAGES.SEVERVICE_MANAGEMENT.LABELS.APPLICATION_NO'|translate}}</h4>
          <p class="fs-16 fw-bold text-dark">{{ mainRequestData.applicationNo }}</p>
        </div>
      </div>

      <!-- Request Number -->
      <!-- <div class="col-md-3 col-sm-6 mb-3">
        <div class="d-flex flex-column align-items-center">
          <div class="service-inner-icon mb-1">
            <i class="ri-file-list-line fs-4 text-primary"></i>
          </div>
          <div class="text-muted fw-semibold fs-13 mb-1">{{'PAGES.SEVERVICE_MANAGEMENT.LABELS.APPLICATION_NO'|translate}}
          </div>
          <div class="fs-16 fw-bold text-dark">{{ mainRequestData.applicationNo }}</div>
        </div>
      </div> -->


      <!-- Request Date -->

      <div class="col-md-3 d-flex">
        <div class="image-col">
          <span class="h-100"> <i class="ri-time-line fs-1 text-primary"></i></span>
        </div>
        <div>
          <h4 class="text-muted fw-semibold fs-13 d-flex justify-content-start">
            {{'PAGES.SEVERVICE_MANAGEMENT.LABELS.REQUEST_DATE'|translate}}</h4>
          <p class="fs-16 fw-bold text-dark">{{ mainRequestData.requestDate }}</p>
        </div>
      </div>

      <!-- <div class="col-md-3 col-sm-6 mb-3">
        <div class="d-flex flex-column align-items-center">
          <div class="service-inner-icon mb-1">
            <i class="ri-time-line fs-4 text-primary"></i>
          </div>
          <div class="text-muted fw-semibold fs-13 mb-1">{{'PAGES.SEVERVICE_MANAGEMENT.LABELS.REQUEST_DATE'|translate}}
          </div>
          <div class="fs-16 fw-bold text-dark">{{ mainRequestData.requestDate }}</div>
        </div>
      </div> -->

      <!-- Status -->
      <div class="col-md-3 d-flex" *ngIf="showRequestStatus">
        <div class="image-col">
          <span class="h-100"> <i class="ri-information-line fs-1 text-primary"></i></span>
        </div>
        <div>
          <h4 class="text-muted fw-semibold fs-13 d-flex justify-content-start">
            {{'PAGES.COMMON.LABELS.STATUS'|translate}}</h4>
          <p class="fs-16 fw-bold text-dark">{{this.translate.currentLang == 'en' ? mainRequestData.stepNameEn:
            mainRequestData.stepNameAr}}</p>
        </div>
      </div>

     <!-- Request type -->
    <div class="col-md-3 d-flex" *ngIf="showRequestType">
        <div class="image-col">
           <span class="h-100"> <i class="ri-information-line fs-1 text-primary"></i></span>
        </div>
        <div>
         <h4 class="text-muted fw-semibold fs-13 d-flex justify-content-start">
            {{'PAGES.COMMON.LABELS.REQUEST_TYPE'|translate}}</h4>
           <p class="fs-16 fw-bold text-dark">{{this.translate.currentLang == 'en' ? mainRequestData.serviceNameEn:
            mainRequestData.serviceNameAr}}</p>
        </div>
    </div>

      <div class="col-md-3 d-flex" >
        <div class="image-col">
           <span class="h-100"> <i class="ri-price-tag-3-line fs-1 text-primary"></i></span>
        </div>
        <div *ngIf="!isEmpty(mainRequestData.slaAssigneeRole)">
         <h4 class="text-muted fw-semibold fs-13 d-flex justify-content-start"></h4>
           <span *ngFor="let assignee of mainRequestData.slaAssigneeRole; let i = index" class="value d-grid">
                        <p class="fs-16 fw-bold text-dark">{{ "PAGES.ROLE."+ mainRequestData.slaAssigneeRole[i] | translate }}</p>
                    </span>
        </div>
         <div *ngIf="isEmpty(mainRequestData.slaAssigneeRole)">
         <h4 class="text-muted fw-semibold fs-13 d-flex justify-content-start"></h4>
           <span  class="value">
                    <p class="fs-16 fw-bold text-dark">{{'PAGES.COMMON.LABELS.NOT_FOUND' | translate }}</p>
                </span>
        </div>
    </div>

      <!-- <div class="col-md-3 col-sm-6 mb-3">
        <div class="d-flex flex-column align-items-center">
          <div class="service-inner-icon mb-1">
            <i class="ri-information-line fs-4 text-primary"></i>
          </div>
          <div class="text-muted fw-semibold fs-13 mb-1">{{'PAGES.COMMON.LABELS.STATUS'|translate}}</div>
          <div class="fs-16 fw-bold text-dark">{{this.translate.currentLang == 'en' ? mainRequestData.stepNameEn:
            mainRequestData.stepNameAr}}</div>
        </div>
      </div> -->

    </div>
  </div>
</div>