<page-title [title]="'MENUITEMS.MENU.SORT_ORDER_SERVICES' | translate"></page-title>
<div class="col-lg-12">
    <div class="card shadow-sm">
        <div class="card-header align-items-center justify-content-between d-flex">
            <h5 class="card-title mb-0">{{ 'PAGES.SERVICE_CATEGORY_MANAGEMENT.LABELS.CATEGORY_DATA' | translate }}</h5>
        </div>
        <div class="card-body">
            <div class="live-preview">
                <div class="row gy-4">
                    <div class="col-6">
                        <div>
                            <label class="form-label">
                                {{ 'PAGES.SERVICE_CATEGORY_MANAGEMENT.LABELS.CATEGORY_NAME' | translate }}
                            </label>
                            <h6>{{ this.translate.currentLang === 'ar' ? dto.categoryNameAr : dto.categoryNameEn }}</h6>
                        </div>
                    </div>

                    <div class="col-6">
                        <div>
                            <label class="form-label">
                                {{ 'PAGES.SERVICE_CATEGORY_MANAGEMENT.LABELS.DISPLAYING_STATUS' | translate }}
                            </label>
                            <h6>{{ (dto.displayStatus ? 'PAGES.COMMON.LABELS.ACTIVE' : 'PAGES.COMMON.LABELS.INACTIVE') | translate }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body py-4">
    <oaaaqa-ag-grid *ngIf="serviceList && serviceList.length"
                    [actions]="actions"
                    [dataList]="serviceList"
                    [columns]="columns">
    </oaaaqa-ag-grid>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
